.home {
  background-color: #F6F6F6;
  position: relative;
  top: 180px;
  width: 100%;
  padding: 62px 113px 0 113px;
}

.home-product-container {
  height: 660px;
  background-color: #FFFFFF;
  padding: 32px 68px 40px 40px;
  display: flex;
  border-radius: 16px;
  margin-left: 12px;
  margin-right: -12px;
}

.product-images {
  display: flex;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 50px;
  width: -webkit-fill-available;
}
.product-images .main-image-container {
  display: flex;
  justify-content: center;
}
.product-images .main-image-container .main-product-image {
  width: 280px;
  height: 436px;
}
.product-images .secondary-images-container {
  width: 100%;
  margin-top: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-images .secondary-images-container .product-image {
  width: 72px;
  height: 72px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 24px;
  cursor: pointer;
}
.product-images .secondary-images-container .first {
  width: 46px;
  margin-left: 0;
}
.product-images .secondary-images-container .first-image-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 88px;
  width: 88px;
  border: 1px solid #E5E5EA;
  border-radius: 8px;
}

.product-info {
  width: -webkit-fill-available;
}
.product-info h1 {
  font-weight: 400;
  font-size: 2.4em;
  margin-top: 24px;
  margin-bottom: 14px;
}
.product-info .product-info-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.product-info .product-info-top .product-label {
  font-weight: 500;
  font-size: 0.7em;
  padding: 6px 22px 8px 22px;
  text-align: center;
  background-color: #E5E5EA;
  border-radius: 8px;
}
.product-info .product-info-top .heart-icon-container {
  display: flex;
  align-items: center;
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
}
.product-info .product-info-top .heart-icon-container::after {
  content: "";
  background-color: #EDA3B5;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  position: absolute;
  opacity: 10%;
  left: -40%;
}
.product-info .product-info-top .heart-icon-container .heart-icon {
  height: 24px;
  width: 24px;
}

.review-stars-container {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}
.review-stars-container span {
  margin-left: 4px;
  font-size: 0.8em;
}
.review-stars-container .review-star {
  margin-right: 12px;
}

.product-info-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}
.product-info-container div {
  font-size: 0.8em;
  border-bottom: 1px solid #EFEFF4;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #1B2437;
  padding-bottom: 9px;
  cursor: pointer;
}
.product-info-container .active {
  border-bottom: 1px solid #EDA3B5;
}

.product-description-container {
  margin-bottom: 32px;
}
.product-description-container p {
  font-size: 0.8em;
  color: #8E8E93;
}

.product-size-color-container {
  display: flex;
}
.product-size-color-container .product-sizes {
  display: flex;
  flex-direction: column;
}
.product-size-color-container .product-sizes-span-container {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}
.product-size-color-container .product-sizes-span-container .size-guide {
  color: #EDA3B5;
  margin-right: 12px;
}
.product-size-color-container .sizes {
  display: flex;
}
.product-size-color-container .sizes .size {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #E5E5EA;
  border-radius: 8px;
  width: 68px;
  height: 44px;
  margin-right: 12px;
  cursor: pointer;
}
.product-size-color-container .sizes .selected {
  background-color: #EDA3B5;
  border: 2px solid #EDA3B5;
  color: white;
  transition: all 0.1s ease-in-out;
}

.product-color-container {
  margin-left: 82px;
}
.product-color-container .colors {
  display: flex;
  margin-top: 5px;
}
.product-color-container .colors .color {
  height: 24px;
  width: 24px;
  margin-right: 16px;
  cursor: pointer;
  border-radius: 2px;
}
.product-color-container .colors .selected {
  border: 3px solid white;
  outline: 2px solid #1B2437;
}
.product-color-container .colors #black {
  background-color: #1B2437;
}
.product-color-container .colors #blue {
  background-color: #127681;
}
.product-color-container .colors #green {
  background-color: #32E0C4;
}

.product-price-container {
  display: flex;
  margin-top: 40px;
}
.product-price-container .product-price {
  margin-right: 25px;
}
.product-price-container .product-price #price-span {
  font-size: 1.2em;
}
.product-price-container .product-price span {
  font-size: 1.7em;
  font-weight: 400;
}
.product-price-container .product-buttons-container button {
  font-size: 1em;
  width: 160px;
  height: 52px;
  border-radius: 16px;
  cursor: pointer;
}
.product-price-container .product-buttons-container .shop-now-btn {
  background-color: #EDA3B5;
  color: white;
  border: 2px solid #EDA3B5;
  margin-right: 24px;
  transition: all 0.15s ease-in-out;
}
.product-price-container .product-buttons-container .shop-now-btn:hover {
  background-color: #e98ea4;
  border-color: #e98ea4;
}
.product-price-container .product-buttons-container .add-to-cart-btn {
  background-color: white;
  border: 2px solid #EDA3B5;
  color: #1B2437;
  transition: all 0.15s ease-in-out;
}
.product-price-container .product-buttons-container .add-to-cart-btn:hover {
  background-color: #e98ea4;
  border-color: #e98ea4;
  color: white;
}

.product-reviews {
  margin-top: 39px;
  background-color: #FFFFFF;
  border-radius: 16px;
  padding: 56px 38px 132px 40px;
}
.product-reviews h2 {
  font-size: 1.7em;
  font-weight: 400;
  margin-bottom: 21px;
}
.product-reviews .review-stars-container {
  margin-bottom: 10px;
}
.product-reviews .review-form label {
  font-size: 0.8em;
}
.product-reviews .review-form input,
.product-reviews .review-form textarea {
  border: 2px solid #E5E5EA;
  padding: 14px 12px 18px 12px;
  font-size: 0.7em;
  outline: none;
  border-radius: 8px;
  margin-top: 5px;
}
.product-reviews .review-form .review-form-container {
  display: flex;
  margin-bottom: 32px;
}
.product-reviews .review-form .review-star {
  cursor: pointer;
}
.product-reviews .review-form .review-form-container-inner {
  display: flex;
  flex-direction: column;
  margin-right: 38px;
  width: 100%;
}
.product-reviews .review-form #review-form-email-container {
  margin-right: 0;
}
.product-reviews .review-form .review-form-message-container {
  display: flex;
  flex-direction: column;
}
.product-reviews .review-form .review-form-message-container textarea {
  resize: none;
  min-height: 150px;
}
.product-reviews .review-form .add-review-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  width: 160px;
  height: 52px;
  border-radius: 16px;
  cursor: pointer;
  background-color: white;
  border: 2px solid #EDA3B5;
  color: #EDA3B5;
  margin-top: 32px;
  margin-left: auto;
  transition: all 0.15s ease-in-out;
}
.product-reviews .review-form .add-review-btn:hover {
  background-color: #e98ea4;
  border-color: #e98ea4;
  color: white;
}
.product-reviews .added-reviews-container {
  display: flex;
  flex-direction: column;
  margin-top: 49px;
}
.product-reviews .added-reviews-container .review {
  background-color: #E5E5EA;
  border-radius: 16px;
  padding: 18px 17px;
  color: #8E8E93;
  min-height: 195px;
  margin-bottom: 32px;
}
.product-reviews .added-reviews-container .review h2 {
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 7px;
}
.product-reviews .added-reviews-container .review p {
  font-size: 0.8em;
}
.product-reviews .added-reviews-container .review .review-stars-container {
  margin-bottom: 20px;
}/*# sourceMappingURL=home.css.map */