@import '../../styles/variables/variables';

.cart {
    position: absolute;
    background-color: $primary-background-color;
    transform: translate(-50%, 50%);
    left: 50%;
    width: 1140px;
    z-index: 6;
    border-radius: 16px;
}

.cart-menus {
    display: flex;
    justify-content: space-between;

    .cart-menu-link {
        font-size: 1em;
        text-decoration: none;
        font-weight: 700;
        width: 285px;
        text-align: center;
        padding: 16px 0;
        color: #D1D1D6;
        border-bottom: 1px solid #EFEFF4;
    }

    .active {
        border-bottom: 1px solid $secondary-text-color;
        color: $primary-text-color;

    }
}

.cart-products-container {
    padding: 0 32px;

    .price-total {
        text-align: end;
        background-color: $secondary-background-color;
        margin: 0 -32px;
        padding-right: 107px;

        span {
            font-size: 1.2em;
        }

        height: 60px;
    }

    .price {
        font-size: 1.7em !important;
        margin-left: 7px;
    }
}

.cart-product-container {
    display: flex;
    align-items: center;
    padding: 32px 0;
    position: relative;
    border-bottom: 1px solid #EFEFF4;


    h1 {
        font-size: 1.7em;
        font-weight: 400;
        overflow-wrap: break-word;
        width: 350px;
    }

    span {
        font-size: 0.8em;
    }

    img {
        margin-right: 30px;
        width: 112px;
        height: 112px;
    }

    .product-colors {
        display: flex;
        align-items: center;

        .colors {
            display: flex;

            .color {
                width: 16px;
                height: 16px;
                background-color: #1B2437;
                margin-left: 8px;
                border-radius: 2px;
            }

            .black {
                background-color: #1B2437;
            }

            .blue {
                background-color: #127681;
            }

            .green {
                background-color: #32E0C4;
            }
        }
    }

    .cart-product-counter {
        position: absolute;
        top: 66px;
        right: 305px;

        button {
            width: 44px;
            height: 44px;
            border-radius: 16px;
            border: 2px solid #D1D1D6;
            background-color: $primary-background-color;
            font-size: 1.2em;
            font-weight: 400;
            color: #D1D1D6;
            cursor: pointer;
        }

        span {
            font-size: 1em;
            font-weight: 700;
            margin-right: 16px;
            margin-left: 16px;
            color: #D1D1D6;
        }
    }

    .cart-product-price {
        position: absolute;
        top: 57px;
        right: 75px;

        span {
            font-size: 1.2em;
        }

        .price {
            font-size: 1.7em;
        }
    }

    .close-btn {
        position: absolute;
        top: 76px;
        right: 0;
        cursor: pointer;
    }


}

.cart-buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 32px 24px 32px;

    a {
        font-size: 1em;
        border-radius: 16px;
        cursor: pointer;
        text-decoration: none;
        font-weight: 600;
        width: 160px;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .continue-btn {
        background-color: $secondary-text-color;
        color: white;
        border: 2px solid $secondary-text-color;
        margin-right: 24px;
        transition: all 0.15s ease-in-out;


        &:hover {
            background-color: darken($secondary-text-color, 5%);
            border-color: darken($secondary-text-color, 5%);
        }
    }

    .back-btn {
        background-color: white;
        border: 2px solid $secondary-text-color;
        color: $secondary-text-color;
        transition: all 0.15s ease-in-out;


        &:hover {
            background-color: darken($secondary-text-color, 5%);
            border-color: darken($secondary-text-color, 5%);
            color: white;
        }
    }

}