@import '../../styles/variables/variables';


.footer {
    background-color: $primary-background-color;
    position: relative;
    top: 180px;
}

.footer-inner {
    padding: 0 221px 26px 113px;
}


.footer-links {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    border-bottom: 1px solid #EFEFF4;
    padding-bottom: 23px;
    padding-top: 24px;


    .footer-links-inner {
        margin-left: 80px;
    }

    .footer-link {
        position: relative;
        margin-right: 80px;
        text-align: center;
        font-size: 1.2em;
        font-weight: 400;
        text-decoration: none;
        color: $primary-text-color;
    }

    .active {
        &::after {
            content: "";
            height: 2px;
            width: 100%;
            background-color: $primary-text-color;
            position: absolute;
            top: 60%;
            left: 0;
        }
    }
}


.footer-container {
    display: flex;
    justify-content: center;


    .footer-links-container {
        display: flex;
    }

    #logo-container {
        margin-right: 121px;
    }

    #hot-links-container {
        margin-right: 97px;
    }

    #more-info-container {
        margin-right: 148px;
    }
}

.footer-container-inner {
    display: flex;
    flex-direction: column;

    .footer-container-inner-links {
        display: flex;
        flex-direction: column;
    }

    .logo {
        margin-bottom: 24px;

        h2 {
            font-size: 1.2em;
            font-weight: 400;
            margin-bottom: 0;
        }
    }

    h2 {
        font-size: 1.2em;
        font-weight: 400;
        margin-bottom: 7px;
    }

    p {
        width: 267px;
        color: #8E8E93;
        font-size: 0.8em;
        line-height: 24px;
    }

    a {
        font-size: 0.8em;
        text-decoration: none;
        color: #8E8E93;
        margin-top: 16px;

    }
}

.footer-socials-container {
    background-color: #EFEFF4;
    padding: 26px 113px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #8E8E93;
    font-weight: 400;
    font-size: 0.8em;

    .social-icon-link {
        margin-left: 32px;
    }
}



@media (max-width:1380px) {
    .footer-container {
        justify-content: space-between;

        #hot-links-container {
            margin-right: 57px;
        }

        #more-info-container {
            margin-right: 108px;
        }

    }
}


@media (max-width:1260px) {
    .footer-inner {
        padding-right: 113px;
    }

    .footer-container {

        #hot-links-container,
        #more-info-container {
            margin-right: 0;
        }

        .footer-links-container {
            flex-direction: column;
            margin-right: auto;
            width: 100%;
        }
    }

    .footer-container-inner {
        .footer-container-inner-links {
            flex-direction: row;

            a {
                margin-right: 20px;
                margin-top: 0;
                margin-bottom: 8px;
            }
        }
    }

}

@media (max-width:1050px) {
    .footer-container {
        #logo-container {
            margin-right: 50px;
        }
    }
}


@media (max-width:900px) {

    .footer-inner {
        padding-right: 50px;
        padding-left: 50px;
    }

    .footer-container-inner {
        a {
            margin-top: 8px;
        }
    }

}


@media (max-width:750px) {
    .footer-container-inner {
        .footer-container-inner-links {
            a {
                margin-right: 12px;
            }
        }
    }
}

@media (max-width:650px) {
    .footer-container {
        #logo-container {
            margin-right: 20px;
        }
    }
}


@media (max-width:600px) {
    .footer-links {
        .footer-links-inner {
            margin-left: 40px;
        }
    }


    .footer-links {
        .footer-link {
            margin-right: 40px;
        }
    }

    .footer-upper {
        .social-icons {
            .social-icon-link {
                margin-right: 20px;
            }
        }
    }

    .footer-container {
        flex-direction: column;
        align-items: center;

        #logo-container {
            margin-right: 0;
            margin-bottom: 20px;
            width: 100%;

            p {
                width: 100%;
            }
        }
    }

    .footer-socials-container {
        padding-right: 50px;
        padding-left: 50px;

        .social-icon-link{
            margin-left: 16px;
        }
    }

}


@media (max-width:500px) {

    .footer-links {
        .footer-links-inner {
            margin-left: 20px;
        }
    }


    .footer-links {
        .footer-link {
            margin-right: 20px;
        }
    }

    .footer-socials-container {
        padding-right: 20px;
        padding-left: 20px;

        .social-icon-link{
            margin-left: 16px;
        }
    }

}